*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu
{
    margin: 50px 0;
}
.menu a
{
    font-size: 1.15rem;
    text-decoration: none;
    padding: 20px;
    margin: 50px 0 40px 0;
    border: 2px solid red;
}
.menu a:hover 
{
    background: pink;
    border-color: black;
    color: red;
}
