<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="{% url 'indexs'%}">Home</a>
        <a href="{% url 'about'%}">About</a>
        <a href="{% url 'contact'%}">Contact</a>
        <a href="{% url 'more'%}">More</a>
        <h1>hello, master, how are you?</h1>
    </header>

    <h3>importing other page</h3>
    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>
    <div>
        <h1>Display from database</h1>
        {% for dbms1 in dbmss %}
        <h1>{{ dbms1.title }}}</h1>
        <h1>{{ dbms1.quantity }}</h1>
        {% endfor%}
    </div>
</body>
</html>