<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hi, Web master ,How are yoy</h1>
    <a href="{% url 'index' %}"> Home</a>
    <a href="{% url 'about' %}">About</a>
     <a href="{% url 'contact' %}">Contact</a>
     <a href="{% url 'view' %}">View</a>
     <a href="{% url 'more' %}">More</a>
     <a href="{% url 'post' %}">Post</a>
    <h3>i am index page</h3>
    {% block content %}
    {% endblock content %}

</body>

</html>